---
layout: default
title: Monsterdex | Creatures encountered by our adventuring Oerthlings
h1: Monsterdex
subtitle: Creatures encountered by our adventuring Oerthlings
---

<div class="container">

  <p style="text-align:center">Click a monster for more information 🏹</p>
  <!-- gallery -->
  <div class="gallery column-container">

    {% for item in site.data.monsterdex %}
    <img src="{{ item.link | relative_url }}" alt="{{ item.name }}" data-description="{{ item.description }}" tabindex="0">
    {% endfor %}

  </div>

  <!-- modal -->
  <div class="modal center-content">
    <div class="modalInner">
      <button aria-label="previous photos" class="prevButton">⬅️</button>
      <figure>
        <img src="./assets/images/monsters/boneclaw.png" alt="Boneclaw">
        <figcaption>
          <h2>Boneclaw</h2>
          <p>description</p>
        </figcaption>
      </figure>
      <button aria-label="next photos" class="nextButton">➡️</button>
    </div>
  </div>

  {% include home-btn.html %}

</div>


<script src="./assets/js/monster-dex.js"></script>

