// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Vollkorn&display=swap');

$font-1: 'Rakkas', cursive;
$font-2: 'Vollkorn', serif;

// Colors
$primary-color: #23344d;
$secondary-color: #648477;
$light-color: #dfe3e4;
$dark-color: #14161d;
$medium-color: #899291;
$bold-color: #940b11;

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Elements
body {
  background-color: $primary-color;
  color: $light-color;
  border-top: 0.4rem solid $bold-color;
  line-height: 1.5;
  font-family: $font-2;
}

h1 {
  font-family: $font-1;
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 1.1;
}

h2 {
  font-weight: initial;
}

.post-title h1 {
  font-size: 45px;
}

a {
  color: $bold-color;
  text-decoration: none;
}

article {
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.8;

  p {
    padding: 5px 0;
  }
}

blockquote {
  background-color: beige;
  margin: 5px 0;
  border-radius: 5px;

  p,
  h2,
  h3 {
    padding: 5px 1em;
  }
}

footer {
  margin-bottom: 1rem;
}

// Styles
.card-date {
  color: $medium-color;
  font-style: italic;
}

.card img {
  img {
    width: 100%;
  }
}

.center-content {
  display: grid;
  place-content: center;
}

// Utilities

.container {
  margin-right: 8vw;
  margin-left: 8vw;
}

.hero-container {
  text-align: center;
  margin-right: 8vw;
  margin-left: 8vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  justify-items: center;
  grid-gap: 2rem;
  list-style: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.gallery {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;

  img {
    width: 100%;
    border: 2px solid $dark-color;
    border-radius: 10px;
  }
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.modalInner {
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-100vh);
  transition: all 0.5s;
  max-width: 550px;
  max-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  color: black;
  margin: 3rem;
}

.modal figure {
  // height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
  background: white;
}

.modal img {
  // height: 100%;
  width: 100%;
  object-fit: contain;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal figcaption {
  padding: 10px;
}

.modal h2 {
  color: black;
}

.modal.open .modalInner {
  transform: translateY(0);
}

.modal button {
  font-size: 1.5rem;
  border-radius: none;
  border: none;
  background: $light-color;
}

.post-title {
  max-width: 80ch;
  margin: 5vh auto;
  text-align: center;
  padding: 0 1rem;

  h1 {
    padding-bottom: 1rem;
  }
}

nav ul {
  list-style: none;
  font-size: 16px;

  li {
    display: inline;
    padding: 0 1rem;
    font-weight: bold;

    a {
      color: $light-color;
    }

    a:hover {
      color: $medium-color;
    }

    .current {
      border-bottom: 2px solid $bold-color;
    }
  }
}

.post-body {
  max-width: 60ch;
  margin: 5vh;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(37, 37, 37, 1);
  padding: 1.5rem;
  margin: 10px auto;
  color: $dark-color;
  width: 100%;

  h2 {
    font-family: $font-1;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: $bold-color;
  color: white;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;

  text-align: center;
  line-height: 1.1;

  transition: 220ms all ease-in-out;

  font-family: $font-1;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

// margins

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
